body, html {
    height: 100%; /* Ensure the body takes full viewport height */
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: column; /* Stack children vertically */
}

#timer-container {
  color: rgb(253, 239, 239);
    margin-top: auto; /* Pushes the timer to the bottom */
    display: flex;
    justify-content: center; /* Center timer horizontally */
    padding: 20px; /* Add some padding around the timer */
}

iframe {
    height: 70%; /* Adjust iframe height as necessary */
    margin: auto; /* Center iframe horizontally */
    display: block;
    width: 80%; /* Adjust based on your layout preferences */
}


/* Title CSS */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
}

body{
  background: rgb(24, 24, 24);
  font-family: Arial;
}

svg {
    display: block;
    font: 9.0em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #4D163D;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #840037;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #BD0034;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #BD0034;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #FDB731;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}


.finished-button{
  display: flex;
  justify-content: center;
}


#fin {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #e09029;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#00000000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #00000000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#fin:hover,
#fin:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

#fin:active {
  background: var(--color);
  color: #fff;
}